<footer>
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">
                <div class="contacts">
                    <div class="contacts__logo">
                        <a href="#">
                            <img src="/css/images/logo.png" alt="JsDaddy">
                        </a>
                    </div>
                    <div class="contacts__email">
                        <a href="mailto:info@jsdaddy.io">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> info@jsdaddy.io</a>
                    </div>
                    <div class="contacts__skype">
                        <a href="skype:juncker8888">
                            <i class="fa fa-skype" aria-hidden="true"></i>juncker8888</a>
                    </div>
                    <div class="contacts__addres">
                        Kharkiv, Ukraine
                    </div>
                </div>
                <div class="navigation-footer">
                    <ul>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#dev-process">Development Process</a>
                        </li>
                        <li>
                            <a href="#technologies">Technologies</a>
                        </li>
                        <li>
                            <a href="#header">Portfolio</a>
                        </li>
                        <li>
                            <a href="#testimonials">Testimonials</a>
                        </li>
                        <li>
                            <a href="#footer">About Us</a>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <div>Social</div>
                    <ul>
                        <li>
                            <a class="facebook" href="https://www.facebook.com/JSDaddyUkraine/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="linkedin" href="https://www.linkedin.com/company/jsdaddy/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="github" href="https://github.com/JsDaddy">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright Ⓒ 2017-2018 JSdaddy
                </div>
            </div>
        </div>
    </div>
</footer>


<form class="popup-form mfp-hide white-popup-block">
    <h3>Contact Us</h3>
    <div class="popup-form__input-wrapper">
        <label for="name">Name</label><br>
        <input id="name" name="name" type="text">
        <p class="popup-form__input-wrapper_invalid-message" id="name_error">This field can not be empty</p>
    </div>
    <div class="popup-form__input-wrapper">
        <label for="email">Email</label><br>
        <input id="email" name="email" type="email">
        <p class="popup-form__input-wrapper_invalid-message" id="email_error">This field must contain valid email</p>
    </div>
    <div class="popup-form__input-wrapper">
        <label for="Textarea">Message</label><br>
        <textarea id="message"></textarea>
        <p class="popup-form__input-wrapper_invalid-message" id="textarea_error">This field can not be empty</p>
    </div>
    <div class="popup-form__btn-wrapper">
        <button class="btn" id="form__submit">Contact Us</button>
    </div>
    <div class="success-message">
        <div class="success-message__icon">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <span>Success!</span></div>
</form>