<header>
    <div id="header">
        <div class="container" id="header">
            <div class="row align-items-center justify-content-between">
                <div class="col-2 logo">
                    <a href="/">
                        <img src="<%- config.root %>css/images/logo.png" alt="JsDaddy">
                    </a>
                </div>
                <div class="nav-wrapper col-lg-10">
                    <nav>
                        <ul id="menu-wrap">
                            <li>
                                <a href="http://jsdaddy.io/#services" class="link-nav">Services</a>
                            </li>
                            <li>
                                <a href="http://jsdaddy.io/#dev-process" class="link-nav">Development Process</a>
                            </li>
                            <li>
                                <a href="http://jsdaddy.io/#technologies" class="link-nav">Technologies</a>
                            </li>
                            <li>
                                <a href="http://jsdaddy.io/#header" class="link-nav">Portfolio</a>
                            </li>
                            <li>
                                <a href="http://jsdaddy.io/#testimonials" class="link-nav">Testimonials</a>
                            </li>
                            <li>
                                <a href="http://jsdaddy.io/about-us" class="link-nav">About Us</a>
                            </li>
                            <li>
                                <a href="http://jsdaddy.io/blog" class="link-nav">Blog</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="btn-wrap">
                        <a class="btn contact_us_btn" href="#popup-form">Contact Us</a>
                    </div>
                </div>
                <div class="nav-burger">
                    <div class="line"></div>
                    <div class="line-middle"></div>

                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="blog-banner">
    <div class="container">
        <div class="row">
            <h1>We share our knowledge</h1>
        </div>
    </div>
</section>
