header
    width: 100%
    min-height: 85px
    display: flex
    flex-direction: row
    align-items: center
    padding-top: 25px
    z-index: 50
    top: 0
    left: 0
    transition: width 0.15s ease, padding-top ease 0.15s, min-height ease 0.15s
    box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.9)
    .nav-wrapper
        nav
            ul
                li
                    a
                        color: #232422;
                        font-size: 16px;
                        font-weight: 600 !important
                        //font-family: "robotoMedium", sans-serif;
//#header
//    z-index: 20
//    position: static;
//    width: 100%
//background: color-header-background
//padding-bottom: nav-height
//position: relative
.logo
    margin-bottom: 10px
    img
        max-height 60px
//#header-outer
//    height: 100%
//    position: relative

#header_container, #header
    transition: all 1s ease
    background: #fff
    top: 0
    #header-wrap
        //margin-left: -45px
        //margin-right: -45px
        h5
            font-size: 20px
            text-align: center
            font-family: "ralewayBlack", sans-serif
            margin-left: 55px
            margin-bottom: 6px
            a
                color: #000
                margin-left: 5px
                i
                    font-size: 30px !important

#header.default
    width: 100%
    position: fixed
    padding-top: 10px
    padding-bottom: 10px
    z-index: 10

#header.fixed
    padding-top: 10px
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 100
    box-shadow: 0px 0px 10px rgba(224, 224, 224, 0.9)

#header-inner
    position: relative

#header-title
    clearfix()
    text-align: center
    padding: 30px 30px
    .logo-wrap, .subtitle-wrap
        float: left
    .subtitle-wrap
        padding: 10px 0px 0px
        margin-left: 20px
    .subtitle
        font-size: 16px
        font-style: italic
        line-height: logo-height + 10
        color: color-nav-foreground
        text-shadow: 0 1px rgba(0, 0, 0, 0.2)
.blog-banner
    background: url("http://bytlogic.com/wp-content/uploads/2016/08/development_bg_header.jpg") no-repeat center center
    background-size cover
    margin-bottom: 90px
    padding: 120px 0
    h1
        color: #FFF
        width: 100%
        font-size: 45px
        font-weight: bold
        text-align center
